.button {
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--color-neutral--black);
  background-color: var(--color-brand--white);
  color: var(--color-brand--black);
  text-align: center;
}

.button.is-link {
  padding: 0.25rem 0rem;

  border-style: none;

  background-color: transparent;

  color: var(--color-neutral--black);
  line-height: 1;
  text-decoration: none;
}

.button.is-link.is-alternate {
  background-color: transparent;
  color: var(--color-neutral--white);
}

.button.is-link.is-icon {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.button.is-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

.button.is-secondary {
  background-color: transparent;
  color: var(--color-neutral--black);
}

.button.is-secondary.is-alternate {
  background-color: transparent;
  color: var(--color-neutral--white);
}

.button.is-small {
  padding: 0.5rem 1.25rem;
}

.button.is-small.is-icon-only {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.button.is-alternate {
  border-color: var(--color-neutral--white);
  background-color: var(--color-neutral--white);
  color: var(--color-neutral--black);
}

.button.is-tertiary {
  border-color: transparent;
  background-color: transparent;
  color: var(--color-neutral--black);
}

.button.is-icon-only {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}