.card-wrapper {
  display: flex;
  padding: 25px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 57.33%, 1.00);
  border-radius: 20px;

  backdrop-filter: blur(20px);
}

.card-wrapper.flex-vertical {
  flex-direction: column;
  align-items: flex-start;
}

.card-wrapper.graphs-card {
  flex-direction: column;
}

.heading {
  margin-top: 0px;
  margin-bottom: auto;
}

.heading.mb-2 {
  margin-bottom: 2rem;
}

#w-node-c7a90e44-39e0-6723-1a29-815fae838fd2-ae838fd2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}