.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.heading {
  margin-top: 0px;
  margin-bottom: auto;
}

.heading.mb-2 {
  margin-bottom: 2rem;
}

.heading.lite {
  margin-bottom: 0px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .heading.lite {
    font-size: 32px;
  }
}

.heading.forecast-item {
  display: flex;
  height: 100%;
  margin-bottom: 0px;
  align-items: center;

  font-size: 50px;
  font-weight: 400;
}

.body-text {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .body-text {
    font-size: 15px;
  }
}

.body-text.smaller {
  font-size: 14px;
}

.body-text.mt-0-5 {
  margin-top: 0.5rem;
}

.body-text.mt-1 {
  margin-top: 1rem;
}

.body-text.mt-0-75 {
  margin-top: 0.85rem;
}

#w-node-_45ea4bd5-862d-091d-1958-0eaa0c4218f3-0c4218f3 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}