.component-card {
  display: flex;
  max-width: none;
  padding: 30px 23px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 100.00%, 0.43);
  border-radius: 10px;

  background-color: hsla(0, 0.00%, 100.00%, 0.14);

  backdrop-filter: blur(20px);
}

.component-card.no-padding {
  padding: 0px;
  border-style: none;
}

.component-card.justify-start {
  justify-content: flex-start;
}

.component-card.forecast-card {
  justify-content: flex-start;
}

.component-card.overview-card {
  height: 100%;
  padding-bottom: 0px;
  justify-content: flex-start;
}

.card-title {
  color: var(--color-brand--white);
  font-size: 3rem;
  font-weight: 200;
  text-align: left;
}

@media screen and (max-width: 479px) {
  .card-title {
    font-size: 5.6rem;
  }
}

.card-title.small {
  font-size: 1rem;
  text-align: left;
}

.card-title.text-align-left {
  text-align: left;
}

.text-align-left {
  text-align: left;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-small {
  margin: 1.5rem;
}

@media screen and (max-width: 767px) {
  .margin-small {
    margin: 1.25rem;
  }
}

#w-node-_4a4f0081-e647-e0f0-dff6-2aa22b41e614-2b41e614 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}