body {
  background-color: #141414;
  color: white;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 5rem 1rem 1rem 1rem;
}

.twoColGrid {
  position: relative;
  z-index: 45;
  display: grid;
  grid-template-columns: 1.75fr 1fr;
  grid-gap: 1rem;
}

.backgroundWrapper {
  opacity: 0.65;
}
