@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  background-color: black;
  color: white;
}

.dashboardGrid {
  grid-template-columns: 1.75fr 1fr;
  grid-template-rows: auto auto auto auto;
  background-color: black;
}
