body {
  background-color: #141414;
  color: white;
  overflow-x: hidden;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 5rem 1rem 1rem 1rem;

  @media (max-width: 768px) {
    padding: 2rem 1rem 1rem 1rem;
  }
}

.twoColGrid {
  position: relative;
  display: grid;
  z-index: 1;
  grid-template-columns: 1.75fr 1fr;
  grid-gap: 1rem;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
}

.backgroundWrapper {
  opacity: 0.65;
}
